fastapi==0.115.0
uvicorn==0.30.6
prometheus-client
pydantic==2.9.2
pandas==2.2.2
pyarrow
confluent-kafka==2.4.0
python-dotenv
scikit-learn==1.5.2
numpy==1.26.4
pytest
avro
fastavro==1.9.4
requests>=2.32.0
pyarrow
pandera
ruff
joblib
implicit==0.7.2
tabulate>=0.9
scipy==1.11.4
starlette>=0.37.2
