fastapi==0.115.0
uvicorn[standard]==0.30.6
prometheus-client
pydantic
pandas
pyarrow
confluent-kafka==2.4.0
python-dotenv
scikit-learn
numpy
pytest
avro
fastavro==1.9.4
requests>=2.32.0
pyarrow
pandera

ruff

joblib
