# Example configuration for local Kafka/Schema Registry credentials.
KAFKA_BOOTSTRAP = "pkc-619z3.us-east1.gcp.confluent.cloud:9092"
KAFKA_API_KEY = "67YNDIRZ3B5AZNXZ"
KAFKA_API_SECRET = "cfltgy/J4RNpQFXqqIUKx6QHQCrg3jIxTuUO7IcpTbNsLfj40mWkIDJRhHjcm+KA"
KAFKA_WATCH_TOPIC = "aerosparks.watch"

SCHEMA_REGISTRY_URL=https://psrc-xxxxx.us-east1.gcp.confluent.cloud
SCHEMA_REGISTRY_KEY=your-schema-key
SCHEMA_REGISTRY_SECRET=your-schema-secret

WATCH_TOPIC=aerosparks.watch
RATE_TOPIC=aerosparks.rate
RECO_REQ_TOPIC=aerosparks.reco_requests
RECO_RESP_TOPIC=aerosparks.reco_responses