global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "reco-api"
    metrics_path: /metrics
    scheme: https
    static_configs:
      - targets:
          - "reco-api-231383754275.us-central1.run.app"
