name: CD
on:
  workflow_run:
    workflows: ["CI"]
    types: ["completed"]
    branches: ["main"]
jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up gcloud
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy ${{ secrets.CLOUD_RUN_SERVICE }}             --region=${{ secrets.GCP_REGION }}             --image=ghcr.io/${{ github.repository_owner }}/reco-api:latest             --platform=managed             --allow-unauthenticated             --update-env-vars KAFKA_BOOTSTRAP=${{ secrets.KAFKA_BOOTSTRAP }},KAFKA_API_KEY=${{ secrets.KAFKA_API_KEY }},KAFKA_API_SECRET=${{ secrets.KAFKA_API_SECRET }},SCHEMA_REGISTRY_URL=${{ secrets.SCHEMA_REGISTRY_URL }},SCHEMA_REGISTRY_KEY=${{ secrets.SCHEMA_REGISTRY_KEY }},SCHEMA_REGISTRY_SECRET=${{ secrets.SCHEMA_REGISTRY_SECRET }}
