name: CI

on:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install deps
        run: pip install -r requirements.txt

      - name: Run tests
        run: pytest

  build_and_deploy:
    needs: test
    runs-on: ubuntu-latest

    # Needed so auth can mint a token
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud (WIF)
        id: auth
        uses: google-github-actions/auth@v2
        with:
          token_format: access_token
          workload_identity_provider: "projects/231383754275/locations/global/workloadIdentityPools/github-pool/providers/github"
          service_account: "gh-deployer@recommender-api-476122.iam.gserviceaccount.com"

      - name: Set up gcloud
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: "recommender-api-476122"

      - name: Configure Docker for Artifact Registry
        run: gcloud auth configure-docker us-central1-docker.pkg.dev --quiet

      - name: Build & push image with Cloud Build
        run: |
          gcloud builds submit \
            --tag us-central1-docker.pkg.dev/recommender-api-476122/reco/reco-api:github-${{ github.sha }} \
            --project recommender-api-476122

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy reco-api \
            --image us-central1-docker.pkg.dev/recommender-api-476122/reco/reco-api:github-${{ github.sha }} \
            --platform managed \
            --region us-central1 \
            --allow-unauthenticated \
            --project recommender-api-476122
